<div class="container">
    <!-- Header -->
        <nav class="navbar sticky-top bg-body-tertiary d-flex justify-content-center text-success">
            <div class="continer">
              <div class="registration-form ">
                  <h1>Farmer Registration Form</h1>
            </div>
            </div>
           </nav>

           <!-- Form -->
            <div class="card">
                <div class="card-body bg-body-tertiary border border-white border border-0 rounded-0">
                       <!-- Personal Details -->
                <div class="container">
                    <!-- <div class="card card-preview"> -->
                        <div class="row">
                            <div class="col-md-12 rounded">
                                <table class="table table-bordered text-center">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="pdetails py-0 pt-1">
                                                <h4 class="form-section">
                                                    <img src="assets/img/profile.png" alt="" width="30px" height="30px">
                                                    Personal Details
                                                </h4>
                                       </th>
                                        <th scope="col" class="bdetails py-0 pt-1">
                                            <h4 class="form-section">
                                            <img src="assets/img/bank.png" alt="" width="25px" height="25px">
                                            Bank Details
                                            </h4>
                                        </th>
                                        <th scope="col" class="udocument py-0 pt-1">
                                            <h4 class="form-section">
                                            <img src="assets/img/bank.png" alt="" width="25px" height="25px">
                                            Upload Document
                                            </h4>
                                        </th>
                                        <th scope="col" class="sdocument py-0 pt-1">
                                            <h4 class="form-section">
                                            <img src="assets/img/bank.png" alt="" width="25px" height="25px">
                                            Submit/Preview
                                            </h4>
                                        </th>
                                      </tr>
                                    </thead>
                                  </table>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                        <!-- Personal Details -->
                                <div class="container">
                                  <div class="card card-preview">
                                    <div class="card-body">
                                        <!-- Personal Details -->
                                        <div class="row">
                                            <div class="col-md-12">
                                            <h6 class="bg-danger py-1 px-2 rounded font-weight-bold text-white">
                                                <img src="assets/img/profile.png" alt="" width="30px" height="30px">
                                                Personal Details
                                            </h6>
                                            <hr>
                                        </div>
                                        <div class="col-md-12">
                                            <h6>Name</h6>
                                        </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="title" class="form-label">Title</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>Title</option>
                                                        <option value="1">Mr.</option>
                                                        <option value="2">Mrs.</option>
                                                        <option value="3">Ms.</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="fname" class="form-label">First Name</label> -->
                                                    <input type="text" name="" id="" class="form-control" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="mname" class="form-label">Middle Name</label> -->
                                                    <input type="text" name="" id="" class="form-control" placeholder="Middle Name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="lname" class="form-label">last Name</label> -->
                                                    <input type="text" name="" id="" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="lname" class="form-label">last Name</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>Gender</option>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                        <option value="3">Transgender</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" placeholder="D.O.B">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>Relation Type</option>
                                                        <option value="1">Son of</option>
                                                        <option value="2">Daughter of</option>
                                                        <option value="3">Wife of</option>
                                                        <option value="4">Father of</option>
                                                        <option value="5">Mother of</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Relation Name">
                                                </div>
                                            </div>
                                        </div>
                                           
                                          <!-- Farmer Address -->

                                          <div class="row">
                                            <div class="col-md-12">
                                            <h5 class="bg-danger py-1 px-2 rounded">
                                                <img src="assets/img/profile.png" alt="" width="35px" height="35px">
                                                Farmer Address
                                            </h5>
                                            <hr>
                                        </div>
                                        <div class="col-md-12">
                                            <h6>Address</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!-- <label for="fname" class="form-label">First Name</label> -->
                                                <textarea type="text" rows="1" name="" id="" class="form-control" placeholder="Street Address line 1"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!-- <label for="fname" class="form-label">First Name</label> -->
                                                <textarea type="text" rows="1" name="" id="" class="form-control" placeholder="Street Address line 2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!-- <label for="mname" class="form-label">Middle Name</label> -->
                                                <input type="text" name="" id="" class="form-control" placeholder="Pincode">
                                            </div>
                                        </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="title" class="form-label">Title</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>State</option>
                                                        <option value="1">Andhra Pradesh</option>
                                                        <option value="2">Telngana</option>
                                                        <option value="3">Tamilnadu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="title" class="form-label">Title</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>District</option>
                                                        <option value="1">Krishna</option>
                                                        <option value="2">Baptla</option>
                                                        <option value="3">NTR</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="title" class="form-label">Title</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>Mandal/Sub District</option>
                                                        <option value="1">Vijaywada</option>
                                                        <option value="2">Mangalgiri</option>
                                                        <option value="3">NTR</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="title" class="form-label">Title</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>City/Village</option>
                                                        <option value="1">Patamata</option>
                                                        <option value="2">Penamuluru</option>
                                                        <option value="3">Patamata</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="lname" class="form-label">last Name</label> -->
                                                    <input type="text" name="" id="" class="form-control" placeholder="Post">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <!-- <label for="lname" class="form-label">last Name</label> -->
                                                    <select name="" id="" class="custom-select">
                                                        <option selected>Photo Id Type</option>
                                                        <option value="1">Pan Card</option>
                                                        <option value="2">Aadhaar Card</option>
                                                        <option value="3">Passport</option>
                                                        <option value="4">Driving License</option>
                                                        <option value="5">Ration Card</option>
                                                        <option value="6">Voter Id</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Photo Id Number">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Mobile Number">
                                                </div>
                                            </div>
                                        </div>
                                                
                                             <div class="row mt-3">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group">
                                                        <button class="btn btn-success" type="button"  (click)="datasubmit()">Save</button>
                                                        <button class="btn btn-primary" type="button">Next</button>
                                                    </div>
                                                </div>
                                             </div>

                                    </div>
                                  </div>
                                </div>
                          

                                <!-- Bank Details -->
                                 <div class="container" >
                                    <div class="card card-preview">
                                        <div class="card-body">
                                             <div class="row">
                                                <div class="col-md-12">
                                                    <h5 class="card-title">
                                                        <img src="assets/img/bank.png" alt="" width="25px" height="25px">
                                                        Bank Details
                                                    </h5>
                                                    <hr>
                                                </div>
                                                <hr>
                                                <div class="col-md-12">
                                                <div class="form-group">
                                                    <h6 class="card-text">Please fill in the bank details below:</h6>
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="IFSC Code">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Account Holder Name as per Bank A/C ">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Bank Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Bank Account No.">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Confirm Account No">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Branch Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <textarea class="form-control" placeholder="Branch Address" rows="2"></textarea>
                                                    </div>
                                                </div>
                                             </div>
                                                     <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <button class="btn btn-success" type="button">Save</button>
                                                            <button class="btn btn-primary" type="button">Next</button>
                                                        </div>
                                                     </div>

                                        </div>
                                    </div>
                                 </div>

                                 <!-- Upload Document -->
                                <div class="container">
                                    <div class="card card-preview">
                                  <div class="card-body">
                                     <h5 class="card-title">
                                        <img src="" alt="" width="30" height="30">
                                        Upload Document
                                    </h5>
                                     <hr>
                                     <div class="row">
                                        <div class="col-md-12">
                                             <div class="row">
                                                <div class="col-md-4">
                                                    Upload Copy Of Passbook/Cancelled Check in Support:
                                                    <span id="pass_ast" style="color:#F00; display: none;">*</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fileUploadbtn">
                                                        <input type="file" name="passbook" id="uploadBtn_passbook" accept="image/jpg,image/jpeg,image/png,.pdf" onchange="loadFile(this);">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="dupload">
                                                    <img class="preview_img" src="#" alt="Passbook Image" name="passbookImage" id="passbookImage" width="100px" height="100px">
                                                    <input type="hidden" name="base64_passbook" id="base64_passbook" >
                                                </div>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="row">
                                               <div class="col-md-4">
                                                Upload One Scan Copy Of Id Proof :
                                                   <span id="pass_ast" style="color:#F00; display: none;">*</span>
                                               </div>
                                               <div class="col-md-4">
                                                   <div class="fileUploadbtn">
                                                       <input type="file" name="passbook" id="uploadBtn_passbook" accept="image/jpg,image/jpeg,image/png,.pdf" onchange="loadFile(this);">
                                                   </div>
                                               </div>
                                               <div class="col-md-4">
                                                <div class="dupload">
                                                   <img class="preview_img" src="#" alt="ID ProofImage" name="passbookImage" id="passbookImage" width="100px" height="100px">
                                                   <input type="hidden" name="base64_passbook" id="base64_passbook">
                                               </div>
                                               </div>
                                            </div>
                                       </div>
                                       <div class="col-md-12 mt-3">
                                        <div class="row">
                                           <div class="col-md-4">
                                            Upload One Scan Copy Of Address Proof :
                                               <span id="pass_ast" style="color:#F00; display: none;">*</span>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="fileUploadbtn">
                                                   <input type="file" name="passbook" id="uploadBtn_passbook" accept="image/jpg,image/jpeg,image/png,.pdf" onchange="loadFile(this);">
                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                            <div class="dupload">
                                               <img class="preview_img" src="#" alt="Address Proof Image" name="passbookImage" id="passbookImage" width="100px" height="100px">
                                               <input type="hidden" name="base64_passbook" id="base64_passbook">
                                           </div>
                                           </div>
                                        </div>
                                   </div>
                                   <div class="col-md-12 mt-3">
                                    <div class="row">
                                       <div class="col-md-4">
                                        Upload Image :
                                           <span id="pass_ast" style="color:#F00; display: none;">*</span>
                                       </div>
                                       <div class="col-md-4">
                                           <div class="fileUploadbtn">
                                               <input type="file" name="passbook" id="uploadBtn_passbook" accept="image/jpg,image/jpeg,image/png,.pdf" onchange="loadFile(this);">
                                           </div>
                                       </div>
                                       <div class="col-md-4">
                                        <div class="dupload">
                                           <img class="preview_img" src="#" alt="Image" name="passbookImage" id="passbookImage" width="100px" height="100px" >
                                           <input type="hidden" name="base64_passbook" id="base64_passbook">
                                       </div>
                                       </div>
                                    </div>
                               </div>
                                     </div> 
                                     
                                     <div class="row">
                                        <div class="col-md-12 mt-3">
                                            <div class="form-group text-center">
                                            <button class="btn btn-success" type="button">Save</button>
                                            <button class="btn btn-primary" type="button" name="next" value="next">Next</button>
                                        </div>
                                        </div>
                                     </div>
                                  </div>
                                    </div>
                                </div>
                                 
                </div>
            </div>
